@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&display=swap");
video {
  height: 100vh;
  width: 100%;
  bottom: 0;
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -2;
}

.play {
  margin-top: 25vh;
  background: none;
  border: none;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: none;
  width: inherit;
  max-width: 640px;
}

.play p {
  font-size: 1.2rem;
  margin-top: 5%;
}

.player {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: rgba(21, 21, 21, 0.97);
  z-index: 2;
}

.player .reel {
  width: 95% !important;
  height: auto;
  margin: 0 auto;
}

.player .close-player {
  margin: 0 1% 1% auto;
  padding: 8px 12px;
  background: none;
  color: white;
  border: 2px solid white;
  font-size: 1.2rem;
  border-radius: 50px;
}

#about-text {
  width: 90%;
  max-width: 650px;
  height: auto;
  padding: 5vh 0;
}

#about-text p {
  font-size: 1em;
  font-weight: 300;
  letter-spacing: 1px;
  margin: 1em 0;
}

#about-text blockquote {
  text-transform: uppercase;
  line-height: 20px;
  color: #8A8A8A;
  margin-top: 4em;
  margin-left: 0;
  padding-left: 1.5em;
  border-left: 1px solid #ccc;
}

#contact-text {
  width: 90%;
  max-width: 650px;
  height: auto;
  padding: 5vh 0;
  font-size: 1.1em;
}

#contact-text p {
  font-weight: 300;
  letter-spacing: 1px;
  margin: 1em 0;
}

#contact-text a {
  font-weight: 700;
  line-height: 1.8rem;
}

.works_sub {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: block;
  font-style: italic;
  font-weight: 400;
  margin: 2% 8% 4% auto;
}

.works {
  width: 95%;
  max-width: 1200px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 25px;
}

.item-container {
  width: 350px;
  height: 350px;
  max-width: 100%;
  color: ghostwhite;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  z-index: 1;
  font-size: 1.1rem;
}

.item-container h2 {
  font-size: 1.3rem;
  font-weight: 500;
  margin: 0 10px;
}

.item-container h3, .item-container h4 {
  font-size: 1.15rem;
  font-weight: 400;
}

.item-container span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  margin: 3px 10px;
  gap: 10px;
}

.item-container p {
  opacity: 0;
  margin: 4px 10px;
  display: none;
  font-weight: 300;
}

.item-container .work_foto {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -2;
}

.item-container #fotoBW {
  z-index: -1;
  opacity: 0;
  -webkit-transition: opacity .7s;
  transition: opacity .7s;
}

.item-container .work_link {
  width: 70px;
  height: auto;
  margin: 0 auto;
  display: none;
}

.item-container .work_link img {
  -o-object-fit: contain;
     object-fit: contain;
  width: inherit;
}

.item-container:hover {
  text-shadow: 2px 2px 4px black;
}

.item-container:hover #fotoBW {
  z-index: -1 !important;
  opacity: 1;
}

.item-container:hover span, .item-container:hover p, .item-container:hover .work_link {
  -webkit-animation-duration: .8s;
          animation-duration: .8s;
  -webkit-animation-name: fadein;
          animation-name: fadein;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.item-container:hover p, .item-container:hover .work_link {
  display: inline;
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

a {
  color: currentColor;
  text-decoration: none;
}

a:hover {
  text-decoration: line-through;
}

.body {
  width: 100%;
  height: auto;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav {
  width: 100%;
  padding: 0 3%;
  height: 15vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background: none;
  position: absolute;
  top: 0;
  z-index: 2;
}

nav a {
  height: 100%;
}

nav a img {
  -o-object-fit: contain;
     object-fit: contain;
  height: 100%;
  width: auto;
}

.nav-panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 75%;
  gap: 10px;
  margin-top: 2%;
  font-size: 1rem;
}

.nav-panel button {
  background: none;
  color: currentColor;
  border: none;
  font-weight: 800;
}

main {
  padding-top: 15vh;
  padding-bottom: 3vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer {
  width: 100%;
  min-height: 3vh;
  z-index: 1;
  font-size: .9rem;
  font-weight: 300;
}

footer span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  max-width: 100%;
  margin: 0 auto;
  gap: 5px;
}

footer a {
  font-weight: 800;
  margin: 0 3px;
}
/*# sourceMappingURL=app.css.map */